{% extends "base.html" %}
{% block content %}

<h3>Motos em serviço</h3>

<form method="POST" class="row g-2 mb-4">
    <div class="col-md-3">
        <input name="placa" class="form-control" placeholder="Placa" required>
    </div>
    <div class="col-md-3">
        <input name="modelo" class="form-control" placeholder="Modelo" required>
    </div>
    <div class="col-md-3">
        <input name="mecanico" class="form-control" placeholder="Mecânico" required>
    </div>
    <div class="col-md-3">
        <input name="servico" class="form-control" placeholder="Serviço" required>
    </div>
    <div class="col-md-12">
        <button class="btn btn-success w-100">➕ Dar entrada</button>
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>Placa</th>
        <th>Modelo</th>
        <th>Mecânico</th>
        <th>Serviço</th>
        <th>Entrada</th>
        <th>Ação</th>
    </tr>

    {% for m in motos %}
    <tr>
        <td>{{ m[1] }}</td>
        <td>{{ m[2] }}</td>
        <td>{{ m[3] }}</td>
        <td>{{ m[4] }}</td>
        <td>{{ m[5] }}</td>
        <td>
            <a class="btn btn-danger btn-sm" href="/saida/{{ m[0] }}">Finalizar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
